.imagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3;
  position: relative;
}

.image {
  border-radius: 10px;
  filter: brightness(0.8);
}

.content {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background: none;
  color: #fff;
  width: 65%;
}

.paragraph {
  margin: 1rem 0rem 1rem; 
}

.btn {
  padding: 1rem;
  background: #fff;
  border: none;
  border-radius: 10px;
  font: 1.1rem "Lobster Two";
  width: 13rem;
  margin-top: 3rem;
}

.secondaryImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 8px;
}

.secondaryImage {
  height: 35%;
  width: 100%;
}

#imageBetween {
  margin-top: 8px;
  margin-bottom: 8px;
}

