.aptitudeContainer {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.subtitleContainer {
  margin-bottom: 10px;
}

.subtitle {
  font-family: "Fira Sans";
  font-size: 1.5rem;
  color: black;
}

.iconContainer {
  margin-bottom: 0.5rem;
  color: #c9050b;
}