.aptitudeContainer {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.iconContainer {
  color: #f90716;
}

.subtitleContainer {
  margin: 1rem 0 1rem 0;
}

.subtitle {
  font-family: "Fira Sans";
  font-size: 1.5rem;
  color: black;
}
