.btn {
  cursor: pointer;
  font: 1rem "Fira Sans";
  background: white;
  padding: 0.5rem 1rem;
  border: 3px solid black;
  border-radius: 10px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  min-width: 9.5rem;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: black;
  background: yellow; 
}