.contactsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 15rem;
  padding-right: 2rem;
}

.formContainer input,
.formContainer #textarea {
  font-size: 1.1rem;
  border: 3px solid black;
  width: 100%;
}

.topControls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 8px;
}

.topControls input {
  font-size: 1.1rem;
  width: 100%;
  padding: 1rem 8px 1rem;
  border-radius: 10px;
  border-style: solid;
}

#textarea {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 8px;
  font-family: "Fira Sans";
  border-width: 2px;
  border-radius: 10px;
}

.btn {
  width: 100%;
  padding: 1rem 1rem;
  color: white;
  background: black;
}

.icon {
  margin-left: 5px;
}

.controlLabel {
  color: black;
}

.emails {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 15rem 5rem 2rem;
  overflow: hidden;
  color: #6D6D6D;
  background: #f3f3f3;
}

.subtitle {
  color: black;
}

.header {
  z-index: 1;
  width: 23rem;
  font-size: 1.1rem;
}

.watermark {
  font-size: 35rem;
  position: absolute;
  opacity: 0.4;
  bottom: 0;
  top: 3rem;
  left: 50%;
  color: #f90716;
}

.socialIconsContainer {
  display: flex;
  margin: 1rem 0 1rem;
  color: black;
}

.socialIcons {
  display: flex;
  flex-direction: column;
}

.nickname {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.9rem 0 0.9rem 0;
}

.emailContainer {
  margin-bottom: 0.5rem;
}

.emailTitle {
  color: black;
}
