.card {
  border-radius: 10px;
  background: #ffff;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 4px;
  transition: all 0.2s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 8px 8px;
  transform: scale(1.05);
}

.cardContainer {
  background: white;
  font-size: 1.1rem;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.2s;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.image {
  border-radius: 10px 10px 0 0;
  padding: 1rem;
}

.content {
  padding: 0.5rem;
  color: black;
}

.status {
  color: #f90716;
  font-weight: bold;
}

.statusDate {
  margin: 8px 0rem 8px 0rem;
  font-size: 1rem;
}

.title {
  font-size: 26.4px;
  margin-bottom: 4px;
  letter-spacing: 1px;
}

.btnContainer {
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
}

.seeMore {
  font: bold 1.1rem "Fira Sans";
  color: #f90716;
}

.btnContainer {
  text-align: left;
}

.icon {
  margin-left: 5px;
}
