.card {
  border-radius: 10px;
  transition: all 0.2s;
}

.image {
  border-radius: 10px 10px 0 0;
  /* box-shadow: -1rem 1rem #f90716; */
  width: 100%;
  height: 15rem;
}

.card:hover {
  /* box-shadow: rgba(0, 0, 0, 0.8) 0px 15px 25px; */
  transform: scale(1.05);
  background: #f9f9f9;
}
.cardContainer {
  /* background: #c9050c; */
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.5s;
}

.content {
  padding: 0.5rem;
  color: black;
}

.status {
  color: #f90716;
  font-weight: bold;
}

.statusDate {
  margin-bottom: 8px;
  font-size: 1rem;
}

.title {
  font-size: 26.4px;
  margin-bottom: 4px;
  /* border-bottom: 2px solid white; */
  letter-spacing: 1px;
}

.paragraph {
  margin-bottom: 1rem;
}

.btnContainer {
  text-align: center;
}

.seeMore {
  font-family: "Fira Sans";
  margin-top: 10px;
  text-align: right;
  background: white;
  color: #c9050c;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}

.btnContainer {
  text-align: left;
}

.icon {
  margin-left: 5px;
}
