#navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 7rem 0.5rem 7rem;
  font-weight: bold;
  background: white;
  border-bottom: 3px solid #e2e1e1;
  z-index: 99;
}

.logo {
  color: #f90716;
  font-family: "Fugaz One", cursive;
  font-size: 1.5rem;
}

#logoContainer {
  margin-right: auto;
  align-self: center;
}

#routesContainer {
  display: flex;
}

#routesContainer * {
  align-self: center;
}

.routeContainer {
  align-self: center;
  margin: 10px;
  margin-right: 20px;
}

.route {
  color: black;
  padding: 0.5rem;
  align-self: center;
}

.route:hover:not(.activeRoute),
.route:focus:not(.activeRoute),
.route:active:not(.activeRoute) {
  color: #7e7c7c;
}

.activeRoute {
  position: relative;
}

.activeRoute::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  border-radius: 10px;
  border-bottom: 4px solid #f90716;
}

.icon {
  margin-left: 5px;
}

.supportBtn {
  border-radius: 10px;
  background: white;
  padding: 0.5rem 0rem 0.5rem 0rem;
  background: rgb(255, 241, 42);
  border: 3px solid black;
  padding-right: 1rem;
  padding-left: 1rem;
  color: black;
}

.supportBtn:hover {
  border-style: outset;
}

#servicesMenu {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  top: 4rem;
  padding: 0.5rem;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}


.menuContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  width: 40rem;
}

.routesMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

#routesMenuLeft {
  padding: 0 1rem 0 1rem;
}

.label {
  color: black;
  font-size: 1.1rem;
}

.routeMenu {
  margin-left: 8px;
}

.routeMenu:hover {
  background: #f3f3f3;
  border-radius: 10px;
}

.routeMenu .icon {
  color: white;
  padding: 1rem;
  background: #f90716;
  border-radius: 10px;
  max-width: 2rem;
  width: 20px;
  height: 20px;
}

.routeName {
  margin-left: 8px;
  width: 12rem;
}

.dev {
  font-family: "Anton";
  letter-spacing: 0.5px;
}

.pod {
  font-family: "Righteous";
}

.illu {
  font-family: "Lobster Two";
  font-weight: bold;
}

#routesMenuRight {
  background: #f3f3f3;
}

.routeMenu {
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
} 

.imgContainer {
  transition: transform 0.2s;
}

.imgContainer:hover {
  transform: scale(1.05);
}

.routeTitle {
  color: #f90716;
  color: black;
  display: flex;
  align-items: center;
}

.description {
  color: #7e7c7c;
}

.gallery {
  width: 170px;
  height: 100px;
  border-radius: 10px;
  filter: brightness(0.7);
}


.galleryName {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
  color: #ffff;
  font-size: 1.1rem;
}
