#section {
  background: #f3f3f3;
}
.sectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subtitle {
  font-family: "Fira Sans";
  margin-bottom: 0.5rem;
}

.sectionLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionRightSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 105%;
  height: 105%;
  clip-path: circle();
}

.paragraph {
  font-size: 1.1rem;
  text-align: left;
}