.section {
  background: #f3f3f3;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  align-items: center;
}

.imageContainer {
  border-radius: 10px;
}

.image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

/* #mainImage {
} */

.moveBtnsContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.moveBtns {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.moveBtn {
  color: #f90716;
}

.moveBtn:hover {
  cursor: pointer;
}
