.section {
  background: #f3f3f3;
}

.gallery {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
}

.imageContainer {
  border: 5px solid black;
  border-radius: 10px;
}

.image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

#mainImage {
  grid-column: 1/4;
}
