.socialIconContainer {
  display: inline;
  margin: 0.5rem;
  cursor: pointer;
}

.socialIcon {
  font-size: 2rem;
}

#youtubeIcon {
  color: #FF0000;
}

#githubIcon {
  color: #171515;
}

#twitterIcon {
  color: #1DA1F2;
}

#instagramIcon svg * {
  fill: url(#gradient);
}

