.section {
  width: 75%;
}

.sectionContainer {
  position: relative;
  background: white;
  border-radius: 10px;
  border: 3px solid #e2e1e1;
  padding: 1rem;
}

.watermark {
  position: absolute;
  top: 0rem;
  right: 0;
  z-index: 0;
  opacity: 0.4;
}

.dollarSign {
  position: absolute;
  font-size: 9rem;
  top: 9rem;
  right: 9.6rem;
  color: #ffff;
}

.textContainer {
  z-index: 1;
  width: fit-content;
  position: relative;
}

.subtitle {
  font-size: 26.4px;
  z-index: 1;
}

.supportOptions {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.supportOptionsContainer {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.btn {
  padding: 0;
  border: none;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  width: 12rem;
}

.moreBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color: #f90716;
}

.icon {
  margin-left: 5px;
}

.info {
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.infoFormatter {
  font-style: italic;
  font-weight: bold;
}

