.title {
  font: bold 2.5rem "Fira Sans";
  position: relative;
  color: black;
  text-align: left;
  margin-bottom: 1rem;
}

.title:after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 10px solid #f90716;
  border-radius: 10px;
  width: 50px;
  bottom: 0;
}