.title {
  font: bold 2rem "Fira Sans";
  position: relative;
  color: black;
  text-align: left;
  margin-bottom: 2rem;
}

.title:after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 8px solid #f90716;
  border-radius: 10px;
  width: 50px;
  bottom: 1;
}