#navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7rem;
  padding-left: 7rem;
  font-weight: 700;
  background: #f90716;
  z-index: 99;
}

.logo {
  color: #ffff;
}

#logoContainer {
  margin-right: auto;
  padding: 1rem;
  align-self: center;
}

#routesContainer {
  display: flex;
}

#routesContainer * {
  align-self: center;
}

.routeContainer {
  align-self: center;
  margin: 10px;
  margin-right: 20px;
}

.route {
  color: #ffff;
  padding: 0.5rem;
  align-self: center;
}

.route:hover:not(.activeRoute),
.route:focus:not(.activeRoute),
.route:active:not(.activeRoute) {
  color: rgb(221, 219, 219);
}

.activeRoute {
  position: relative;
}

.activeRoute::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  border: 1px solid white;
  border-radius: 10px;
  border-bottom: 4px solid white;
}

.icon {
  margin-left: 5px;
}

.support {
  border-radius: 8px;
  background: white;
  padding: 0.5rem;
  background: rgb(255, 241, 42);
  padding-right: 1rem;
  padding-left: 1rem;
}

.supportBtn {
  color: black;
  padding: 0.5rem;
}

#servicesMenu {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  top: 4rem;
  padding: 0.5rem;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #f90716;
}

.menuContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  width: 40rem;
}

.routesMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

#routesMenuRight {
  background: #f3f3f3;
}

.routeMenu {
  padding: 0.5rem;
} 

.routeTitle {
  color: #f90716;
}

.description {
  color: #7e7c7c;
}

.gallery {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  padding: 1rem;
  filter: brightness(0.7);
  /* text-align: center; */
}

.galleryName {
  position: relative;
  color: #ffff;
  font-size: 1.1rem;
}